# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl
MANIFEST

# Virtual environments
venv/
.venv/
env/
ENV/

# Python cache
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional large data
data/output/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django
local_settings.py
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx / MkDocs
docs/_build/
site/

# Pytype / type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython debug
cython_debug/

# Celery
celerybeat-schedule
celerybeat.pid

# Environments / secrets
.env
.envrc
.pdm-python
.pdm-build/
.pixi
__pypackages__/

# AI/Tools specific
.abstra/
.cursorignore
.cursorindexingignore
.ruff_cache/
.pypirc

# SageMath
*.sage.py
